    <%- include('header') %>
  </head>

  <body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
         
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Description</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr <% for (let book of books) { %></tr>

        <td>
          <form method="GET" action="/editBook/<%= book._id%>">
            <button type="submit" class="btn btn-info">Edit</button>
          </form>

          <form method="GET" action="/deleteOne/<%= book._id%>">
            <button type="submit" class="btn btn-danger" >Delete</button>
          </form>
        </td>
      
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>

        <% } %>
      </tbody>
    </table>


  </body>
</html>
